<a [routerLink]="['/']">Home</a>
<p>New Item:</p>
<div style="border: 1px solid black;">
  <form (submit)="createItem()" style="padding: 20px">
    <label for="name">Name:</label>
    <div class="red-text" *ngIf="errors.name">
      {{ errors.name.message }}
    </div>
    <input name="newItem.name" [(ngModel)]="newItem.name" type="text">
    <br>
    <button [routerLink]="['/']"  style="margin: 10px 10px 10px 10px;" class="btn cyan lighten-1">Cancel</button>
    <button class="btn cyan lighten-1">Submit</button>
  </form>
</div>

