<a [routerLink]="['/new']">Add Item</a>
<p>Items:</p>
<table class="striped centered">
  <thead>
    <tr>
        <th>Item</th>
        <th>Actions available</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of allItems">
        <td>{{ item | json }}</td>
        <td>
          <button style="margin-right: 5px" class="btn yellow darken-1" [routerLink]="['view/',item._id]">View</button>
          <button style="margin-right: 5px" class="btn green darken-1" [routerLink]="['edit/',item._id]">Edit</button>
          <button style="margin-right: 5px" class="btn red darken-1" (click)="deleteItem(item._id)">Delete</button>
        </td>
    </tr>
  </tbody>
</table>
