<b>These pets are looking for a home!</b>
<br>
<br>
<a [routerLink]="['/pets/new']">Add a pet to the shelter</a>
<br>
<br>
<table class="striped centered">
  <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of allItems">
        <td>{{ item.name}}</td>
        <td>{{ item.type}}</td>
        <td>
          <button style="margin: 5px" class="btn yellow darken-1" [routerLink]="[item._id]">Details</button>
          <button style="margin: 5px" class="btn green darken-1" [routerLink]="[item._id,'edit']">Edit</button>
        </td>
    </tr>
  </tbody>
</table>
