<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<div class="navbar-fixed">
    <nav >
        <div class="white darken-4 nav-wrapper">
            <a  [routerLink]="['/pets']" style="margin-left: 30px; color: black;" href="#" class="brand-logo">Pet Shelter</a>
        </div>
    </nav>
</div>

<div style="padding:20px">
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>








