<a style="margin-right: 20px" [routerLink]="['/pets']">Home</a>
<p>Details about {{ item.name }}</p>

<table>
  <tbody>
    <tr>
      <td>Pet Type</td>
      <td>{{ item.type }}</td>
    </tr>
    <tr>
      <td>Description</td>
      <td>{{ item.desc}}</td>
    </tr>
    <tr>
      <td>Skills</td>
      <td>
      <p>{{ item.skill1 }}</p>
      <p>{{ item.skill2 }}</p>
      <p>{{ item.skill3 }}</p>
    </td>
    </tr>
    <tr>
      <td>Likes</td>
      <td>{{ item.likes }}</td>
    </tr>
  </tbody>
</table>

<br>
<button style="margin-right: 5px" class="btn blue darken-1" (click)="deleteItem(item._id)">Adopt this pet!</button>
<button *ngIf="likeStatus" style="margin-right: 5px" class="btn green darken-1" (click)="addLike(item._id)">Like this pet</button>
<button *ngIf="!likeStatus" style="margin-right: 5px" class="btn green darken-1" (click)="addLike(item._id)" disabled>Like this pet</button>


